 /*main*/
 .background-section {
    width: 100%;
    height: auto;
    background-color: yellowgreen;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

/*text*/
.main-heading {
    color: greenyellow;
    word-wrap: break-word;
    max-width: 90%;
    font: 60px "Lucida Grande", Helvetica, Roboto, sans-serif;
}

.subheading {
    font-size: 25px;
    color: greenyellow;
    max-width: 90%;
    margin-top: 7px;
    word-wrap: break-word;
    font: 20px "Lucida Grande", Helvetica, Roboto, sans-serif;
}

/*buttons*/
.button-container {
    margin-top: 30px;
}

.button-container a {
    text-decoration: none;
    padding: 10px 20px;
    background: rgb(66, 113, 204);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    transition: background 0.3s ease;
    display: inline-block;
    max-width: 300px;
    min-width: 150px;
    width: 100%;
    font: 15px "Lucida Grande", Roboto, sans-serif;
}

.button-container a:hover {
    background-color: rgb(66, 66, 232);
    font: 15px "Lucida Grande", Roboto, sans-serif;
}

/*navigation*/
.no-bullets {
    list-style: none;
}

.fixed-header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul li:hover .dropdown-menu {
    display: block;
}

/*menu*/
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444;
    padding: 1vw 0;
    min-width: 15vw;
    top: 100%;
    left: 0;
    z-index: 9999;
}

.dropdown-menu li a {
    padding: 1vw 1.5vw;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #555;
}

.active-link {
    background-color: rgb(0, 0, 0);
}
